{% extends "LBCListeAnnonceBundle::index.html.twig" %}

{% block content %}
	<a href={{ path('lbc_liste_annonce_home')}}> &larr; Retour à la liste</a>
	{% if annonce != null %}
		<div id="annonce">
			<h2>
				{{annonce.titre}}
			</h2>
			{% if (annonce.image != "") %}
				<img src={{annonce.image}}>
			{% endif %}
			<div class="infos">
				<div>{{annonce.date}}</div>
				<div>{{annonce.lieu}}</div>
				<div>{{ annonce.prix == 0 ? "Prix non renseigné" : annonce.prix ~ "€"}}</div>
			</div>
		</div>
		{% for commentaire in commentaires %}
			<div>
				<div>{{ commentaire.utilisateur }}</div>
				<div><p>{{ commentaire.contenu }}</p></div>
				<div>{{ commentaire.date | date("m/d/Y") }}</div>
			</div>
		{% endfor %}
		 {% for message in app.session.flashbag.get('notice') %}
	        {{ message }}
    	{% endfor %}
		{% if form != null %}
			{{form_start(form)}}
			{{ form_label(form.utilisateur, "Nom d'utilisateur : ", {'label_attr': {'class': ''}}) }}
		    {{ form_errors(form.utilisateur) }}
	        {{ form_widget(form.utilisateur, {'attr': {'class': ''}}) }}

	        {{ form_label(form.contenu, "Commentaire : ", {'label_attr': {'class': ''}}) }}
		    {{ form_errors(form.contenu) }}
	        {{ form_widget(form.contenu, {'attr': {'class': ''}}) }}

			{{form_rest(form)}}
			{{form_end(form)}}
		{% endif %}
	{% else %}
		<h2>Aucune annonce à afficher ici.</h2>
	{% endif %}
	{% if prevAnnonce != null %}
		<a href={{ path('lbc_annonce', { 'id': prevAnnonce.id }) }}>
			<div class="annonce">
				 &larr; Annonce précedente
				<h2>
					{{prevAnnonce.titre}}
				</h2>
				{% if (prevAnnonce.image != "") %}
					<img src={{prevAnnonce.image}}>
				{% endif %}
				<div class="infos">
					<div>{{prevAnnonce.date}}</div>
					<div>{{prevAnnonce.lieu}}</div>
					<div>{{ prevAnnonce.prix == 0 ? "Prix non renseigné" : prevAnnonce.prix ~ "€"}}</div>
				</div>
			</div>
		</a>
	{% endif %}
	{% if nextAnnonce != null %}
		<a href={{ path('lbc_annonce', { 'id': nextAnnonce.id }) }}>
			<div class="annonce floatright">
				Annonce suivante &rarr;
				<h2>
					{{nextAnnonce.titre}}
				</h2>
				{% if (nextAnnonce.image != "") %}
					<img src={{nextAnnonce.image}}>
				{% endif %}
				<div class="infos">
					<div>{{nextAnnonce.date}}</div>
					<div>{{nextAnnonce.lieu}}</div>
					<div>{{ nextAnnonce.prix == 0 ? "Prix non renseigné" : nextAnnonce.prix ~ "€"}}</div>
				</div>
			</div>
		</a>
	{% endif %}

{% endblock %}