{% extends "LBCListeAnnonceBundle::index.html.twig" %}

{% block content %}
	<div class="tri">
		<label>Trier par
			<select name="order">
				<option value="id">Default</option>
				<option value="titre">Titre</option>
				<option value="lieu">Lieu</option>
				<option value="prix">Prix</option>
			</select>
		</label>
		<button name="reverse" value="reverse">Inverser</button>
		<label>Afficher annonces sans prix<input type="checkbox" name="hide" checked></label>
		<input type="text" placeholder="recherche" name="search">
		Entre
		<select name="prixminimum">
            <option value="-1" selected>Prix minimum</option>
            <option value="5">5</option>
            <option value="10">10</option>            
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
            <option value="2500">2500</option>
        </select> et <select name="prixmaximum">
            <option value="5">5</option>
            <option value="10">10</option>            
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
            <option value="-1" selected>Prix maximum</option>
        </select>
	</div>
	{% for annonce in annonces %}
		<a href={{ path('lbc_annonce', { 'id': annonce.id }) }}>
			<div class="annonce">
				<h2>
					{{annonce.titre}}
				</h2>
				{% if (annonce.image != "") %}
					<img src={{annonce.image}}>
				{% endif %}
				<div class="infos">
					<div>{{annonce.date}}</div>
					<div>{{annonce.lieu}}</div>
					<div>{{ annonce.prix == 0 ? "Prix non renseigné" : annonce.prix ~ "€"}}</div>
				</div>
				<div class="hidden searchWord">
					{{annonce.titre ~ " " ~ annonce.lieu ~ " " ~ annonce.prix}}
				</div>
				<input type="hidden" name="id" value="{{annonce.id}}">
				<input type="hidden" name="prix" value="{{annonce.prix}}">
				<input type="hidden" name="lieu" value="{{annonce.lieu|trim}}">
				<input type="hidden" name="titre" value="{{annonce.titre|trim}}">
			</div>
		</a>
	{% endfor %}

{% endblock %}